html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

* {
    margin: 0
}

html,
body {
    height: 100%
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #B9B8B5;
    background-color: #181815
}

a:link,
a:visited {
    text-decoration: none;
    color: #33CC99;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease
}

a:hover {
    color: #777674
}

p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.6em
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #F8F3E5;
    line-height: 1.3em
}

h2 span {
    display: block;
    font-size: 13px;
    color: #777674;
    line-height: 18px;
    margin-top: 1px
}

.sidebar h2 {
    font-size: 18px
}

h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #F8F3E5
}

h4 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #F8F3E5
}

h3.wallpaper,
h3.contact {
    padding: 20px 0 10px 0;
    border-bottom: 3px solid rgba(44, 43, 42, 0.9);
    font-weight: normal;
    margin: 20px 0 0 0
}

h3.contact {
    margin: 0;
    padding: 0 0 10px 0
}

h3.contact span {
    color: #757875
}

hr {
    display: none
}

#wrap-header {
    height: 60px;
    background-color: #000
}

#header {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    background-color: #000
}

#logo {
    float: left;
    width: 220px
}

#logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    color: #000
}

#logo a {
    display: block;
    width: 220px;
    height: 60px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #000
}

#logo span {
    background-image: url(../img/menu/amanita-design-logo.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#logo a:hover {
    visibility: visible
}

#logo a:hover span {
    background-position: -340px top
}

.social {
    float: left;
    width: 105px;
    margin: 5px 0
}

.social li {
    display: block;
    float: left;
    width: 35px;
    height: 50px
}

.social li a {
    display: block;
    width: 35px;
    height: 50px;
    background: url(../img/menu/fb-g-tw.png) left top no-repeat;
    text-indent: -9999px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    filter: alpha(opacity=45);
    opacity: .45;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms
}

.social li a.google {
    background-position: -35px 0
}

.social li a.twitter {
    background-position: -70px 0
}

.social li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.mainmenu {
    width: 547px;
    float: right;
    margin: 5px 0
}

.mainmenu li {
    float: left;
    list-style-type: none;
    position: relative
}

.mainmenu a {
    color: #666;
    float: left;
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px
}

.mainmenu span {
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease
}

.mainmenu .active span {
    background-position: left bottom
}

.mainmenu a:hover {
    visibility: visible
}

.mainmenu a:hover span {
    background-position: left bottom
}

.menu01 {
    width: 76px
}

.menu01 span {
    background-image: url(../img/menu/home-3.png)
}

.menu02 {
    width: 79px
}

.menu02 span {
    background-image: url(../img/menu/about-3.png)
}

.menu03 {
    width: 85px
}

.menu03 span {
    background-image: url(../img/menu/games-3.png)
}

.menu04 {
    width: 73px
}

.menu04 span {
    background-image: url(../img/menu/store-3.png)
}

.menu05 {
    width: 78px
}

.menu05 span {
    background-image: url(../img/menu/merch-3.png)
}

.menu06 {
    width: 64px
}

.menu06 span {
    background-image: url(../img/menu/blog-3.png)
}

.menu07 {
    width: 80px
}

.menu07 span {
    background-image: url(../img/menu/forum-4.png)
}

.menu08 {
    width: 76px
}

.menu08 span {
    background-image: url(../img/menu/contact-4.png)
}

.grid-2,
.grid-3,
.grid-4,
.grid-6,
.grid-9,
.grid-12 {
    float: left;
    margin-left: 10px;
    margin-right: 10px
}

.grid-2 {
    width: 140px
}

.grid-3 {
    width: 220px
}

.grid-4 {
    width: 300px
}

.grid-6 {
    width: 460px
}

.grid-9 {
    width: 700px
}

.grid-12 {
    width: 940px;
    margin-bottom: 20px
}

.grid-12-960 {
    float: left;
    width: 960px;
    margin-bottom: 20px
}

#wrap-content {
    padding: 30px 0 0px 0
}

#content {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 60px 0
}

#container {
    min-height: 100%;
    margin-bottom: -60px;
    background: #181815 url(../img/backgrounds/background.png) repeat
}

#container:after {
    content: "";
    display: block
}

#wrap-footer,
#container:after {
    height: 60px
}

.sidebar {
    float: left;
    overflow: hidden;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px
}

.sidebar p {
    padding-right: 40px
}

.button {
    margin: 0 0 20px 0;
    line-height: 20px
}

.button a {
    font-size: 14px
}

.awards {
    list-style-type: disc;
    padding-left: 15px;
    color: #999;
    line-height: 1.5em
}

.content-main {
    float: left;
    overflow: hidden;
    width: 620px;
    margin: 0 10px 20px 10px
}

.slogan h2 {
    font-size: 17px;
    line-height: 1.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin-bottom: 15px
}

#slideshow {
    margin-bottom: 10px;
    width: 940px;
    height: 380px
}

#slideshow img.first {
    display: block
}

.slide {
    position: relative;
    text-align: left
}

.slide dl {
    position: absolute;
    width: 220px;
    padding: 7px 10px;
    line-height: 1.7em;
    left: 0px;
    bottom: 0px
}

.slide dt {
    font-size: 12px;
    color: #F8F3E5
}

.slide dd {
    color: #CCC
}

.nav-slideshow {
    width: 940px;
    margin: 20px 0 0 0
}

#nav-button {
    height: 16px;
    width: 234px;
    margin: 0 auto
}

#nav-button a {
    text-decoration: none;
    padding: 1px;
    background: url(../img/backgrounds/slideshow-button.png) no-repeat center center;
    display: block;
    width: 16px;
    float: left;
    text-indent: -9999px
}

#nav-button a.activeSlide {
    color: #666;
    background-image: url(../img/backgrounds/slideshow-button-active.png)
}

#nav-button a:focus {
    background-image: url(../img/backgrounds/slideshow-button-active.png)
}

ul.wallpaper-info {
    font-size: 12px;
    color: #999;
    margin: 10px 0 30px 0;
    line-height: 17px;
    float: left;
    width: 150px
}

.menu-games-horni {
    height: 23px;
    border-bottom: 2px solid rgba(44, 43, 42, 0.9);
    margin: 0 10px 20px 10px;
    font-size: 12px;
    width: 940px;
    color: #444
}

ul.back-games {
    float: left
}

ul.prev-next-games {
    float: right
}

ul.prev-next-games li {
    float: left
}

.back-arrow {
    background: url(../img/backgrounds/back.png) no-repeat left center;
    padding: 0 0 0 20px
}

.next-arrow {
    background: url(../img/backgrounds/next.png) no-repeat right center;
    padding: 0 20px 0 10px
}

.prev-arrow {
    background: url(../img/backgrounds/back.png) no-repeat left center;
    padding: 0 10px 0 20px
}

.top-arrow {
    background: url(../img/backgrounds/top.png) no-repeat left center;
    padding: 0 0 0 20px
}

.menu-games-horni a,
.menu-games-dolni a {
    color: #777674
}

.menu-games-horni a:hover,
.menu-games-dolni a:hover {
    color: #FFF
}

.menu-games-dolni {
    height: 36px;
    border-top: 2px solid rgba(44, 43, 42, 0.9);
    line-height: 36px;
    margin: 0px 10px 30px 10px;
    font-size: 12px;
    width: 940px;
    color: #444;
    float: left
}

.back-games-wrap,
.top-games-wrap,
.prev-next-games-wrap {
    width: 300px;
    float: left;
    margin: 0 20px 0 0
}

.prev-next-games-wrap {
    margin: 0 0 0 0
}

.games-gallery li,
.news-gallery li {
    width: 300px;
    float: left;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    text-align: center
}

.games-gallery img,
.news-gallery img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #2a2a29 url(../img/backgrounds/loader-pozadi-2A2A29.gif) no-repeat center center
}

.games-gallery img:hover,
.news-gallery img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.games-gallery h2,
.news-gallery h2 {
    border-top: 1px solid #2b2b2a;
    border-bottom: 1px solid #2b2b2a;
    padding: 9px 0 8px 0;
    margin: 10px 0 20px 0;
    line-height: 1.2em
}

.news-gallery .coming-soon {
    background: url(../img/home-news/botanicula-coming-soon.jpg) no-repeat left top;
    display: block;
    width: 300px;
    height: 190px
}

.news-gallery .coming-soon:hover {
    background: url(../img/home-news/botanicula-coming-soon.jpg) no-repeat right top
}

.project-gallery img {
    margin: 0 0 20px 0;
    float: left;
    background: url(../img/backgrounds/loader-pozadi-2A2A29.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #2a2a29
}

.project-gallery .youtube-player {
    margin: 0 0 20px 0
}

.deset {
    display: block;
    height: 80px;
    margin-bottom: 20px
}

.deset-plus,
.deset-plus-info {
    display: block;
    float: left
}

.deset-plus {
    width: 58px;
    height: 80px
}

.deset-plus-info {
    margin-left: 15px;
    width: 150px;
    height: 80px;
    line-height: 1.4em
}

.video {
    padding-bottom: 20px
}

.about p {
    text-align: left;
    font-size: 15px
}

.test p {
    padding: 0 37px 0 0
}

.members dl {
    line-height: 1.5em;
    width: 220px;
    float: left;
    margin: 0 10px 35px 10px;
    overflow: hidden
}

.members a {
    color: #777674
}

.members a:hover {
    color: #FFF
}

.members dt {
    color: #F8F3E5;
    font-size: 14px
}

.members dd {
    color: #777674
}

.about-gallery li {
    width: 220px;
    float: left;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    text-align: center
}

.about-gallery h2 {
    font-size: 14px;
    border-top: 1px solid #2b2b2a;
    border-bottom: 1px solid #2b2b2a;
    padding: 9px 0 8px 0;
    line-height: 1.3em;
    margin: 10px 0 20px 0
}

.about-gallery h2 span {
    font-size: 12px
}

.about-gallery img {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.about-gallery img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.podminky-kontakt {
    font-size: 13px;
    line-height: 1.6em
}

.podminky-kontakt li {
    margin-bottom: 1em;
    list-style-type: disc;
    margin-left: 15px
}

.store {
    text-align: center;
    margin-bottom: 80px
}

.store h2 {
    border-bottom: 1px solid #2b2b2a;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.store .product-foto {
    border-bottom: 1px solid #2b2b2a;
    padding-bottom: 10px;
    height: 275px
}

.store .product-foto-small {
    border-bottom: 1px solid #2b2b2a;
    padding-bottom: 10px;
    height: 230px
}

.store dl {
    border-bottom: 1px solid #2b2b2a;
    padding: 10px 0
}

.store dt,
.store dd {
    padding: 2px 0
}

.store dt {
    font-size: 16px;
    color: #F8F3E5
}

.store dd {
    color: #939393;
    line-height: 17px
}

.store span.zelena {
    color: #33CC99
}

.store span.sleva {
    color: #FD4545
}

#wrap-footer {
    clear: both;
    background-color: #272727
}

#footer {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
    text-align: left;
    color: #777674;
    overflow: hidden
}

#footer p {
    font-size: 11px;
    margin-bottom: 0px
}

#footer .copyright span {
    color: #333
}

#footer a {
    color: #777674;
    text-decoration: none
}

#footer a:hover {
    color: #FFF
}

#footer .design a:hover {
    color: #FFF
}

#footer .copyright {
    float: left;
    width: 760px
}

#footer .design {
    float: right;
    width: 100px;
    text-align: right
}

.cleaner {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both
}

::-moz-selection {
    background: #B3B3AE;
    color: #fff
}

::selection {
    background-color: #B3B3AE;
    color: #fff
}

fieldset {
    margin: 40px 0 0 0
}

fieldset li {
    display: block;
    width: 220px;
    float: left;
    margin: 0 20px 10px 0
}

fieldset li.last {
    margin: 0 0 10px 0
}

fieldset li.form-grid-6 {
    width: 460px
}

fieldset label {
    color: #F8F3E5;
    font-size: 12px;
    display: block;
    margin: 0 0 7px 0
}

fieldset input {
    width: 200px;
    background-color: #252525;
    color: #CCC;
    border: 0px;
    font-size: 14px;
    padding: 10px
}

fieldset input:focus,
fieldset textarea:focus {
    background-color: #9b2725;
    outline: none
}

fieldset input.imput-subject {
    width: 440px
}

fieldset textarea {
    font-size: 12px;
    padding: 15px 10px;
    border: 1px solid #1A1A1A;
    width: 438px;
    height: 160px;
    background-color: #252525;
    color: #CCC
}

textarea,
.button-send,
fieldset input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

fieldset .button-send {
    background-color: #444340;
    color: #CCCCCC;
    width: 100px;
    height: 31px;
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    border: 0px;
    cursor: pointer;
    margin: 10px 0 0 0;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease
}

fieldset .button-send:hover {
    background-color: #2f2f2f
}

.odeslano {
    font-size: 13px;
    color: #CCCCCC;
    background-color: #333333;
    padding: 10px 10px 10px 13px;
    margin-bottom: 20px
}

.odeslano p.ok {
    color: #CCCCCC;
    background-image: url(../img/backgrounds/ok.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 30px;
    margin: 0
}

.odeslano p.spatne {
    color: #CCCCCC;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url(../img/backgrounds/error.png);
    padding-left: 30px
}

.videopolicy {
    min-height: 700px;
    text-align: center
}

.videopolicy p {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    h1 {
        font-size: 25px;
        padding-bottom: 5px
    }
    h1 a {
        text-decoration: none
    }
    img,
    .topmenu,
    .mainmenu {
        display: none
    }
    @page {
        margin: 0.5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}