@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Colors
$vindro-black: rgba(11, 12, 16, 1); //#0B0C10
$vindro-black-overlay: rgba(11, 12, 16, 0.9);
$vindro-black-transparent: rgba(11, 12, 16, 0.7);
$vindro-gray: rgba(31, 40, 51, 1); //#1F2833
$vindro-tan: rgba(197, 198, 199, 1); //#C5C6C7
$vindro-teal: rgba(102, 252, 241, 1); //#66FCF1
$vindro-green: rgba(69, 162, 158, 1); //#45A29E
$tm-yellow-solid: rgba(250, 197, 80, 1);// #FAC550
$real-blue: rgba(0, 73, 150, 1); //#004996
$real-yellow: rgba(252, 191, 0, 1); //#fcbf00
$real-blue-transparent: rgba(0, 73, 150, 0.7);
$real-yellow-transparent: rgba(252, 191, 0, 0.7);

// Fonts
$vindro-Montserrat: 'Montserrat', sans-serif;
$vindro-openSans: 'Open Sans', sans-serif;
