// Inline span classes
.inline-teal {
  color: $vindro-teal;
}

.inline-green {
  color: $vindro-green;
}

.inline-gray {
  color: $vindro-gray;
}

.inline-bold {
  font-weight: 700;
}

.inline-light {
  font-weight: 300;
}

// Buttons
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-tan, .bg-tan {
  background-color: $vindro-tan;
  color: $vindro-gray;
}

.btn-gray, .bg-gray {
  background-color: $vindro-gray;
  color: white;
}

.btn-black {
  background-color: $vindro-black;
  color: $vindro-teal;
}

.btn-teal, .bg-teal {
  background-color: $vindro-teal;
  color: $vindro-black;
}

.btn-teal:hover {
  background-color: $vindro-green;
  color: white;
}

main#under-construction {
  height: 50vh;
  background-color: $vindro-teal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $vindro-black;
  font-size: 2.1rem;

  .loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;

    .loader {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      &-element {
        border: 5px solid #fff;
        border-radius: 100%;
        margin: 0 10px;
      }
    }
  }

  .loader-element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }

  .loader-element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }

  .loader-element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }

  @keyframes preloader {
    100% {border:5px  solid $vindro-black;}
    100% {transform: scale(2)}
  }
}

.cookie-consent-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: 4;
}

#cookie-consent-banner {
  position: fixed;
  top: 90px;
  width: 100%;
  min-height: 90px;
  background-color: $vindro-teal;
  color: $vindro-black;
  z-index: 5;
  padding: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .cookie-info {
    width: 42%;
    text-align: left;

    p {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }

    > :nth-child(1), :nth-child(4) {
      font-weight: 700;;
    }
  }

  .cookie-buttons {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;

    label {
      font-weight: 600;

      .cookie-checkbox {
        vertical-align: middle;
        margin-right: 14px;
        width: 14px; 
        height: 14px;
        accent-color: $vindro-black;
      }
    }

    #submit-cookies {
      align-self: flex-end;
      color: white;
      border: 2px solid transparent;

      &:hover {
        background-color: white;
        border: 2px solid $vindro-black;
        color: $vindro-gray;
        font-weight: 700;
      }
    }
  }
}

