@import 'config';
@import 'utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $vindro-openSans;
}

:root {
  font-size: 10px;
}

body {
  background-color: $vindro-gray;
  font-family: $vindro-openSans;
  color: white;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: $vindro-Montserrat;
  font-weight: 500;
}

img {
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $vindro-black-overlay;
  color: white;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 3;

  .vindro-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-weight: 400;

    a {
      padding: 3px;
      margin: 0 3px;
    }
    img {
      width: 60px;
      padding: 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: $vindro-Montserrat;
        font-size: 2.1rem;
      }
    }
  }

  ul {
    display: flex;
    font-size: 1.6rem;

    a {
      color: white;
      padding: 21px;
      margin: 0 3px;
    }

    a:hover, a.current {
      border-bottom: 3px solid $vindro-teal;
    }
  }
}

#navbar-hamburger {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: $vindro-black-overlay;
  color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  padding: 0;
  transition: 0.5s;
  z-index: 3;

  .vindro-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    font-weight: 400;

    img {
      width: 42px;
      padding: 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: $vindro-Montserrat;
        font-size: 1.6rem;
      }
    }
  }

  #hamburger-container {
    position: relative;
    width: 60px;
    height: 60px;

    #hamburger-toggler {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 6;
    }

    #hamburger-lines {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 28px;
      height: 28px;
      background-color: transparent;
      z-index: 5;

      & > div {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: white;
      }

      &-top {
        top: 3px;
        transition: 0.42s ease;
      }

      &-mid {
        top: 13px;
        opacity: 1;
        transition: 0.84s ease;
      }

      &-bottom {
        bottom: 3px;
        transition: 0.42s ease;
      }
    }

    &.open {
      background-color: $vindro-teal;

      #hamburger-lines {
      
        & > div {
        background-color: $vindro-black;
        }

        &-top {
          transform: rotate(405deg);
          top: 13px;
          transition: 0.42s ease;
        }

        &-mid {
          opacity: 0;
          transition: 0.1s ease;
        }

        &-bottom {
          transform: rotate(-405deg);
          bottom: 13px;
          transition: 0.42s ease;
        }
      }
    }

    &.navbar-calculator {
      
      &.open {
        background-color: lightgray;
      }
    }
  }

  nav#hamburger-menu {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: $vindro-teal;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    display: none;
    z-index: 4;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 42px 60px 0 0;

      li {
        width: calc(100vw - 80px);
        margin: 0 0 20px 20px;

        a {
          display: block;
          padding: 7px 0 7px 42px;
          width: 100%;
          font-size: 2.1rem;
          color: $vindro-black;
          border-bottom: 3px solid transparent;
          
          &.current {
            border-bottom: 3px solid $vindro-gray;
          }
        }
      }
    }

    &.open {
      height: calc(100vh - 60px);
      transition: 0.5s ease
    }

    &.navbar-calculator {
      background-color: $real-yellow;

      ul li a {
        color: $vindro-black;
        border-bottom: 3px solid white;
      }
    }
  }
}

#navbar.top, 
#navbar-hamburger.top {
  background-color: $vindro-gray;
}

.hero {
  background: $vindro-black;
  height: 100vh;
  position: relative;
  color: white;

  &-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;

    h1 {
      font-size: 6.3rem;
      margin-bottom: 21px;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 42px;
    }

    a {
      font-size: 1.8rem;

      &:hover {
        background-color: $vindro-green;
        color: white;
      }
    }
  }
}

.hero-half {
  height: 50vh;
  background: $vindro-black;
  position: relative;
  color: white;

  .hero-games-content, .hero-contact-content, .hero-escape-the-cloud, .hero-blog, .hero-stories-content, .hero-privacy-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 63px;

    h1 {
      font-size: 4.2rem;
      margin-bottom: 14px;
    }

    h2 {
      font-size: 2.1rem;
    }
  }
}

.hero-none {
  height: 90px;
  background: $vindro-black;
}

main#home-page-content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #what-we-do {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: $vindro-Montserrat;
      font-size: 2.1rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 6.3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }

    a {
      font-size: 1.8rem;

      &:hover {
        background-color: $vindro-tan;
        color: $vindro-gray;
      }
    }
  }

  section#home-about {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .team-container {
      display: flex;
      justify-content: center;
      padding-top: 84px;
      gap: 42px;

      .team-member {
        width: 42%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 21px;
  
        img {
          width: 42%;
          border-radius: 50%;
          border: 3px solid $vindro-gray;
          background-color: $vindro-teal;
          margin-bottom: 2rem;
        }
  
        > div h3 {
          font-size: 3rem;
          text-align: center;
          margin-bottom: 1rem;
        }
  
        > div p {
          font-size: 2.1rem;

        }
      }
    }
  }
}

main#stories-page-content {
  overflow: hidden;

  #timeline h3 {
    color: $vindro-green;
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 7px;
  }

  #timeline p {
    color: $vindro-black;
    font-size: 1.6rem;
  }
  
  #timeline ul {
    background: $vindro-gray;
    padding: 50px 0;

    li {
      list-style: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: $vindro-teal;

      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 1rem;
        background: white;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        a {
          color: $vindro-green;
          font-weight: 500;

          &:hover {
            color: $vindro-teal;
          }
        }
      }

      /* Timeline Right Side */
      &:nth-child(odd) div {
        left: 40px;
      /* transform: translate(200px, 0); */
      }

      /* Timeline Left Side */
      &:nth-child(even) div {
        left: -434px;
        /* transform: translate(-200px, 0); */
      }

      /* Timeline Dots */
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 25px;
        height: 25px;
        background: inherit;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background 0.5s ease-in-out;
      }

      /* Timeline Arrows Base */
      div:before {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 0;
        height: 0;
        border-style: solid;
      }

      /* Timeline Right Side Arrows */
      &:nth-child(odd) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent white transparent transparent;
      }

      /* Timeline Left Side Arrows */
      &:nth-child(even) div:before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent white;
      }

      /* Timeline Show Boxes */
      &.show div {
        transform: none;
        visibility: visible;
        opacity: 1;
      }

      &.show:after {
        background: $vindro-teal;
      }
    }
  }
}

main#blog-page-content {
  //Under Construction with Backend
}

main#games-page-content {
  position: relative;
  padding: 7rem 2rem;

  section#games-page-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    h2 {
      font-family: $vindro-Montserrat;
      font-size: 3rem;
    }

    p {
      width: 63%;
      font-size: 1.8rem;
    }
  }

  section#games-page-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .game {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1/1;

        img {
          width: 100%;
          height: auto;
  
          &:hover {
            opacity: 0.84;
          }
        }
      }

      &-text {
        background-color: $vindro-black-overlay;
        border-radius: 14px;
        padding: 21px;
        flex-grow: 1;

        h3 {
          color: $tm-yellow-solid;
          font-size: 2.1rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

main#escape-the-cloud-content {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  #escape-the-cloud-trailer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
    background-color: $vindro-tan;
    color: $vindro-black;
    font-size: 1.4rem;
    padding: 3rem;

    video {
      width: 90%;
    }
  }

  #escape-the-cloud-info {
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    background-color: $vindro-gray;

    p {
      font-size: 1.6rem;
    }

    .buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 14px;

      a {
        width: 42%;
        font-size: 1.8rem;
        font-weight: 700;

        &:hover {
          background-color: $vindro-black;
          color: $vindro-teal;
        }
      }
    }
  }
}

@import 'game-42';
@import 'calculadora';

main#contact-page-content {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  #contact-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
    background-color: $vindro-tan;

    h3 {
      color: $vindro-black;
      font-size: 1.4rem;
    }
  }

  #contact-right {
    width: 100%;
    height: 100%;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
    background-color: $vindro-gray;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $vindro-black;
      border-radius: 7px;
      padding: 14px 21px;

      label, input, .privacy-accept {
        margin-bottom: 7px;
      }

      > label {
        font-size: 1.6rem;
        margin-bottom: 21px;
      }

      input.email-input {
        background-color: $vindro-tan;
        border: none;
        border-radius: 3px;
        padding: 7px;

        &:focus {
          outline: $vindro-green;
        }
      }

      ::placeholder {
        color: $vindro-green;
        font-weight: 500;
      }

      .form-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .privacy-accept {
          display: flex;
          gap: 7px;
          align-items: center;
  
          input {
            accent-color: $vindro-teal;
          }

          a {
            color: $vindro-teal;

            &:hover {
              color: $vindro-green;
            }
          }
        }
  
        input.form-submit-btn {
          width: 42%;
          background-color: $vindro-tan;
          padding: 7px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
  
          &:hover {
            background-color: $vindro-green;
            color: white;
          }
        }
      }
    }
  }
}

main#privacy-page-content {
  width: 100%;
  background-color: $vindro-tan;
  color: $vindro-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: justify;

  section#privacy, section#cookies {
    width: 63%;
    padding: 1rem;

    h2, h3, h4, h5, p {
      margin-bottom: 1rem;
    }

    h2 {
      color: $vindro-green;
      font-weight: 700;
      font-size: 4.2rem;
    }

    h3 {
      font-size: 2.1rem;;
    }

    h4 {
      font-size: 1.6rem;
    }

    h5 {
      font-weight: 600;
    }

    h5, p {
      font-size: 1.8rem;
    }

    a {
      color: $vindro-green;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: $vindro-teal;
      }
    }
  }
}

.cookie-consent-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: 4;
}

#cookie-consent-banner {
  position: fixed;
  top: 90px;
  width: 100%;
  min-height: 90px;
  background-color: $vindro-teal;
  color: $vindro-black;
  z-index: 5;
  padding: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .cookie-info {
    width: 42%;
    text-align: left;

    p {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }

    > :nth-child(1), :nth-child(4) {
      font-weight: 700;;
    }
  }

  .cookie-buttons {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;

    label {
      font-weight: 600;

      .cookie-checkbox {
        vertical-align: middle;
        margin-right: 14px;
        width: 14px; 
        height: 14px;
        accent-color: $vindro-black;
      }
    }

    #submit-cookies {
      align-self: flex-end;
      color: white;
      border: 2px solid transparent;

      &:hover {
        background-color: white;
        border: 2px solid $vindro-black;
        color: $vindro-gray;
        font-weight: 700;
      }
    }
  }
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  text-align: center;
  background-color: $vindro-black;

  a {
    font-size: 1.2rem;
    color: $vindro-green;

    &:hover {
      color: $vindro-teal;
    }
  }
  .contact-info {
    font-size: 1.4rem;

    a {
      color: $vindro-teal;
      font-weight: 600;

      &:hover {
        color: $vindro-green;
      }
    }
  }

  .social {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    
    a {
      padding: 7px;
      color: white;
      border-radius: 7px;

      &:hover {
        background-color: $vindro-green;
        color: $vindro-gray;
      }
    }
  }
}

@import 'mobile';